@layer base, rhythm, layout, components, default, overwrites;

html {
    scroll-snap-type: y mandatory;
    timeline-scope: --section, --main, --site-header;
    
  }




  main {
    view-timeline: --main;
  }
  

  .section {
    /* Creating a snapping rule on the section element */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
  
    /* Attach the timeline to the section element*/
    view-timeline: --section;
  
    /* Set each section to the full dynamic height of the viewport */

  }
  
  .content {
    /* Fix the content, so it doesn't scroll with the section */
    overflow: hidden;
    position: fixed;
    inset: 0;
  
    /* Animate the content based on the section scrolling */
    --contrast: 4;
    --blur: 0.5rem;
  
    animation: horizontal-scroll ease-in-out both;
    animation-timeline: --section;
  }
  
  
  /* 
    This is a bit of a hack to get the indicator to work because I'm lazy.
    We're translating the dot from the top to the bottom of its parent,
    using the browser scroll position as the animation timeline.
    It's not really matched up to the scrolling sections, only appears to be.
  */
  .indicator::before {
    animation: indicate linear both;
    animation-timeline: --main;
    animation-range: contain;
  }
  
  /* And we're manually setting the colors because see: lazy comment above */
  @keyframes indicate {
    0% {
      --color-indicator: var(--color-primary);
      transform: translateY(0);
    }
  
    25% {
      --color-indicator: var(--color-yellow);
    }
  
    50% {
      --color-indicator: var(--color-secondary);
    }
  
    75% {
      --color-indicator: var(--color-red);
    }
  
    100% {
      --color-indicator: var(--color-purple);
      transform: translateY(
        calc(var(--indicator-total-height) - var(--indicator-size))
      );
    }
  }
  
  /* Remove gradient indicator on scroll-to-end (visible on small screens */
  
  .site-header label:last-of-type {
    view-timeline: --site-header inline;
  }
  
  
  /* Alternative animations */
  /* Very cool, try it */
  @keyframes horizontal-scroll {
    0% {
      transform: translate3d(100%, 0%, 0);
    }
  
    50% {
      transform: none;
    }
  
    100% {
      transform: translate3d(-100%, 0%, 0);
    }
  }