@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterVariable.ttf') format('truetype');
    font-weight: 100 900; /* supports all weights */
    font-style: normal;
    font-display: swap;
  }